body{
    margin: 0%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: #0b0b0b;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    width: 100%;
}
main{
    margin-top: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
nav ul {
    list-style: none;
    background-color: hsl(0, 0%, 20%);
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row; /* Add this to stack the nav items vertically */
}
nav li {
   flex: 1;
   margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px ;
    display: block;
    text-align: center;
    transition: color 0.2s ease;
}
nav a:hover {
    color: #666;
}
.image-container {
    width: 100%; /* make the container take up the full width */
    margin: 0 auto; /* center the container horizontally */
  }
  
  .image-container img {
    width: 100%; /* make the image take up the full width of the container */
    height: auto; /* maintain the image's aspect ratio */
    object-fit: fill; /* optional, but helps with image scaling */
  }

nav.active { /* Add styles for the active nav state */
    display: block;
}

nav:not(.active) { /* Add styles for the inactive nav state */
    display: none;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white; /* changed font-color to color */
    background-color: #0b0b0b;
    border-bottom: 1px solid #ccc;
    position: fixed; /* added this to make the footer stick to the bottom */
    bottom: 0; /* added this to make the footer stick to the bottom */
    width: 100%; /* added this to make the footer full width */
}