body{
    margin: 0%;
}
main{
    margin-top: 60px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: black;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
main{
    margin-top: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50px;
}
nav ul {
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row; 
    border-radius: 50px;/* Add this to stack the nav items vertically */
}
nav li {
flex: 1;
margin-right: 20px;

}

nav a {
    text-decoration: none;
    color:white;
    padding: 15px ;
    display: block;
    text-align: center;
    transition: color 0.2s ease;
}
nav a:hover {
    color: grey;
}


.main-container{
    margin-top: 20px;
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white; /* changed font-color to color */
    background-color: Black;
    border-bottom: 1px solid #ccc;
    position: fixed; /* added this to make the footer stick to the bottom */
    bottom: 0; /* added this to make the footer stick to the bottom */
    width: 100%; /* added this to make the footer full width */
}